body {
    margin: 0; 
    padding: 0;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
     
}

.container-one {
    display: flex;
    padding: 3rem;
    background-color: #1f2937;

}

.logo {
    max-width: auto; 
    height: 100px;
    align-items: flex-start;
}

.img-1 {
    max-width: auto;
    height: 300px;
}

.container-two {
    display: flex; 
    padding: 3rem;
}

img {
    max-width: 200px;
    height: 200px;
}

.container-three {
    background-color: #E5E7EB;
    padding: 3rem;
}

.container-four {
    padding: 3rem;
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 4em;
    text-align: center;
}