body {
    margin: 0; 
    padding: 0;
}

.flexbox-container {
    display: flex;
    flex-direction: column;  
}

#section1 {
    padding: 3rem;
    background-color: #1D1842;

}

#nav-menu {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: 0;
    margin-top: -200px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


#text1 {
    display: flex;
    flex-direction: column;
    margin: 200px;
    color: white;

}

.img-1 {
    max-width: auto;
    height: 300px;
}

a {
    color: white;
    text-decoration: none;
}

#section2 {
    display: flex; 
    padding: 3rem;
}

img {
    max-width: 200px;
    height: 200px;
}

#section3 {
    background-color: #E5E7EB;
    padding: 3rem;
}

#section4 {
    padding: 3rem;
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 4em;
    text-align: center;
}